.wrap {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
    word-spacing: 20px;
    margin-bottom: 26px;
}

.wrap a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
